.labelForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 4px rgb(0, 0, 0) solid;
  border-radius: 5px;
  padding: 20px;
  width: 380px;
  font-size: 22px;
}

.inputContactForm {
  border-radius: 3px;
  width: 330px;
  height: 35px;
  font-size: 16px;
}

.addButton {
  padding: 5px;
  width: 100%;
  font-size: 20px;
  border-radius: 2px;
  background-color: rgb(235, 194, 14);
  &:hover {
    background-color: rgb(238, 102, 11);
  }
}

.error {
  color: red;
}
