.contactLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  padding: 12px 16px;
  font-size: 22px;
}

.nameNumbs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nameNumb {
  display: flex;
  gap: 10px;
  align-items: center;
}

.deleteButton {
  border: none;
  border-radius: 6px;
  background-color: rgb(235, 125, 106);
  color: black;
  padding: 6px 12px;
  font-size: 18px;
  border: 1px solid black;
  &:hover {
    background-color: rgb(250, 12, 12);
  }
}
