* {
  box-sizing: border-box;
}

body {
  font-family: "Play", sans-serif;
  font-style: normal;
  padding: 20px;
  background-color: rgb(231, 229, 94);
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
