.navLink {
  font-size: 22px;
  display: flex;
  color: black;
  &&:hover {
    color: rgba(255, 136, 0, 0.753);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  padding: 10px;
  border: 2px green solid;
  border-radius: 8px;
  margin: 70px auto;
  align-items: center;
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
