.menu {
  border: 2px red solid;
  border-radius: 8px;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  font-size: 24px;
}
.box {
}

.link {
  background-color: rgb(243, 239, 26);
  border-radius: 8px;
}
